config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/ahb/18100000.wmac'
	option channel 'auto'
	option hwmode '11a'
	option htmode 'HT40'
	option country '00'
	option disabled '0'

config wifi-iface 'default_radio0'
	option device 'radio0'
	option network 'wan'
	option mode 'sta'
	option ifname 'wlan0'
	option ssid 'delta'
	option encryption 'psk-mixed'
	option key '12345678'
